<!DOCTYPE html>
<html lang="en">

<head>
    <TITle>Palace Arcade</TITle>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <link rel="icon" type="image/png" href="./static/assets/favicon.png">
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
 
  
  <title>Title page</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

<!-- Add your content of header -->
<h1 class="ll">CREDITS</h1>
<div class="template-example">
    <h2 class="template-title-example dj">CMR COLLEGE OF ENGINEERING AND TECHNOLOGY</h2>
</div>

<p class="w">BATCH-84</p>

<p class="w">STUDENTS</p>


<div class="section-container content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-6">
                    <img src="./static/assets/images/manish.jpeg" class="img-responsive" alt=""> 
                </div>
                <div class="col-md-6">
                    <h1 class="h2">Dosapati Manish</h1>
                    <p>18H51A05M5</p>
                    <p>8328576135</p>

                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-container content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-6">
                    <img src="./static/assets/images/vineela.jpeg" class="img-responsive" alt=""> 
                </div>
                <div class="col-md-6">
                    <h1 class="h2">G Pushpa Vineela</h1>
                    <p>18H51A05M6</p>
                    <p>6303527077</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-container content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-6">
                    <img src="./static/assets/images/mubi.jpeg" class="img-responsive" alt=""> 
                </div>
                <div class="col-md-6">
                    <h1 class="h2">Mubashir Ahmad Lone</h1>
                    <p>18H51A05Q1</p>
                    <p>9610320246</p>
                </div>
            </div>
        </div>
    </div>
</div>


<footer><p>This website is dedicated to TSB</p></footer>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>