<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palace Arcade</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="./assets/favicon.png" sizes="20x20">
    <link rel="stylesheet" href="./static/joketeller.css">
</head>
<body>
  
    
    <div class="container">
        <button id="button">Tell Me A Joke</button>    
        <audio id="audio" controls hidden></audio>   
    </div>
    <!-- Script -->

    <script src="./static/joketeller.js"></script>
</body>
</html>